
body {
    background: #207320;
}

.App {
    font-family: "Cascadia Mono", sans-serif;
    background-color: antiquewhite;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #207320;
    border-radius: 20%;
}

.App button {
    margin: 4px;
    padding: 10px;
    width: 80px;
    background-color: saddlebrown;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    color: white;
}

.App button:hover {
    background-color: chocolate;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    position: absolute;
    top: 20px;
}

h1 {
    text-decoration: underline;
}

.top-anecdote {
    width: 50%;
}

.top-anecdote p {
    color: #d97d3b;
}