.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_form__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact_form__inputs label {
  text-align: left;
}